.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-8);
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
  border: none;
}

.btn--primary{
    background-color: var(--color-cyan-1);
    color: var(--color-white);
    font-size: var(--font-size-base);
    font-weight: 500px;
    font-family: "Lexend", sans-serif;
}

.button-icon{
    width: 16px;
    height: 16px;
}